/*
* Hubpi
* Type design: Indexes
* Copyright 2014, @jofpin
*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    text-align: center;
    overflow: hidden;
    padding: 3em;
    margin: 0;
    color: #2196F3;
    border-top: .2em solid #2196F3;
}
h1 {
    color: #2196F3;
    font-size: 7.47em;
}
h1 span {
	color: #E53935;
}
h2 {
    font-size: 2em;
    margin: -4%;
}
@media screen and (min-width:30em) and (max-width :40em) { 
    h1 { font-size: 5.23em }
}
@media screen and (max-width:32em) { 
    h1 { font-size: 3.23em }
}
